@import "~normalize-scss/sass/normalize/_import-now.scss";

@font-face {
  font-family: Montserrat;
  src: url(./../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto-Regular.ttf);
}

$linkedin-color: #0084BF;
$dark-blue: #005E93;
$medium-blue: #0A9FDB;
$light-blue: #9DDAF3;
$dark-gray: #737373;
$light-gray: #A4A4A4;
$border-gray: #BFBFBF;
$white: #FFFFFF;

@mixin input-style($width: 32px, $height: 25px, $text-align: center, $font-size: 12px) {
  width: $width;
  height: $height;
  text-align: $text-align;
  margin: 5px 3px;
  padding: 0 5px;
  font: {
    family: "Segoe UI";
    size: $font-size;
  }
  color: $dark-gray;
  background-color: $white;
  border: 1px solid $border-gray;
  border-radius: 2px;
  outline: none;
  &:hover {
    border-color: $dark-gray;
  }
  &:focus {
    border-color: $linkedin-color;
    box-shadow: 0 0 0 1px $linkedin-color;
  }
}

@mixin button-style {
  height: 40px;
  width: 160px;
  margin: 15px 0;
  font: {
    family: "Segoe UI";
    size: 18px;
  }
  color: $white;
  background-color: $linkedin-color;
  border: none;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    background-color: $dark-blue;
  }
}

.container {
  font: {
    family: "Segoe UI", Roboto, sans-serif;
    size: 14px;
    weight: normal;
  }

  display: flex;
  flex-flow: column nowrap;

  width: 300px;
  text-align: center;
  color: $dark-gray;
}

h2 {
  font: {
    size: 22px;
    //weight: normal;
  }
  margin: 12px 0;
}

h3 {
  font: {
    size: 16px;
    weight: normal;
  }
  margin: 12px 0;
}

hr {
  width: 220px;
  height: 2px;
  background-color: $dark-gray;
  border: none;
}

p {
  font-size: 16px;
}

.largeInput {
  @include input-style($width: 250px, $height: 30px, $text-align: left, $font-size: 14px);
}

button {
  @include button-style;
}

.wrapper {
  display: flex;
  justify-content: center;

  span {
    padding: 7px 0;
  }
}

.settingsWrapper {
  display: flex;
  flex-direction: column;

  padding: 0 15px;

  span {
    font: {
      size: 12px;
      style: italic;
    }
  }
}

.connectionCircles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#connectionsCount {
  font-size: 34px;
  color: $linkedin-color;
}

#invitesCount {
  color: $linkedin-color;
  font-weight: bold;
}

#invitesMax {
  @include input-style($width: 35px);
}

#invitesTime {
  @include input-style($width: 24px);
}

//Style to hide arrows in input type number:

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}