@import "~normalize-scss/sass/normalize/_import-now.scss";
//@import "~choices.js/assets/styles/scss/base.scss";
@import "~choices.js/assets/styles/scss/choices.scss";
@import "./Choices.scss";

$linkedin-color: #006699;
$black: #000000;
$dark-blue: #005E93;
$light-blue: #0A9FDB;
$dark-gray: #737373;
$light-gray: #A4A4A4;
$border-gray: #BFBFBF;
$white: #FFFFFF;
$warning-red: #FF6363;
$dark-red: #D93D3D;

$large-input-style: (
  height: 30px,
  width: 100%,
  text-align: left,
  font-size: 14px,
  margin-side: 0
);

$basic-button-style: (
  height: 30px,
  bg-color: $light-gray,
  font-size: 14px,
  hover-color: $dark-gray,
);

$start-button-style: (
  height: 40px,
  bg-color: $light-blue,
  font-size: 18px,
  hover-color: $dark-blue,
);

$stop-button-style: (
  height: 40px,
  bg-color: $warning-red,
  font-size: 18px,
  hover-color: $dark-red,
);

@mixin input-style($width: 32px, $height: 25px, $text-align: center, $font-size: 12px, $margin-side: 5px) {
  width: $width;
  height: $height;
  text-align: $text-align;
  box-sizing: border-box;
  margin: 5px $margin-side;
  padding: 0 5px;
  font: {
    family: "Segoe UI";
    size: $font-size;
  }
  color: $black;
  background-color: $white;
  border: 1px solid $border-gray;
  border-radius: 2px;
  outline: none;
  box-shadow: none;

  &:hover {
    border-color: $dark-gray;
  }

  &:focus {
    border-color: $linkedin-color;
    box-shadow: 0 0 0 1px $linkedin-color;
  }

  &::placeholder {
    color: $dark-gray;
  }
}

@mixin button-style($height, $bg-color, $font-size, $hover-color) {
  flex: 1;
  height: $height;
  margin: 10px 0;
  font: {
    family: "Segoe UI";
    size: $font-size;
  }
  color: $white;
  background-color: $bg-color;
  border: none;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}

html,
body,
* {
  box-sizing: border-box;
}

.container {
  font: {
    family: "Segoe UI", Roboto, sans-serif;
    size: 14px;
    weight: normal;
  }

  display: flex;
  flex-flow: column nowrap;

  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  text-align: center;
  color: $dark-gray;
}

h1 {
  font: {
    size: 23px;
    weight: 500;
  }
  color: #000000;
  margin: 10px 0;
}

h2 {
  font-size: 20px;
  margin: 8px 0;
}

h3 {
  font: {
    size: 16px;
    weight: normal;
  }
  margin: 3px 0;
}

hr {
  width: 220px;
  height: 2px;
  background-color: $dark-gray;
  border: none;
}

p {
  font-size: 16px;
}

.button {
  @include button-style($basic-button-style...);
}

.invitesMax {
  @include input-style($width: 46px);
}

.invitesTime {
  @include input-style($width: 35px);
}

.largeInput {
  @include input-style($large-input-style...);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    height: 26px;
  }
}

.invitesWrapper {
  display: flex;
  justify-content: center;

  span {
    padding: 7px 0;
  }

  img {
    height: 56px;
  }
}

.settingsWrapper {
  display: flex;
  flex-direction: column;

  span {
    font: {
      size: 12px;
      style: italic;
    }
  }
}

.connectionCircles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0;
}

.secondCircleCheckbox {
  display: none;
}

.secondCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  color: $dark-blue;
  background-color: $white;
  border: 1px solid $dark-blue;
  border-radius: 50%;
}

.secondCircleCheckbox:checked + .secondCircle {
  color: white;
  background-color: $dark-blue;
}

.thirdCircleCheckbox {
  display: none;
}

.thirdCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: $light-blue;
  background-color: $white;
  border: 1px solid $light-blue;
  border-radius: 50%;
}

.thirdCircleCheckbox:checked + .thirdCircle {
  color: white;
  background-color: $light-blue;
}

.connectionsCount {
  font-size: 34px;
  color: $linkedin-color;
}

.invitesCount {
  color: $linkedin-color;
  font-weight: bold;
}

.warningMessage {
  display: flex;
  align-items: center;

  width: 100%;
  background-color: $warning-red;
  border-radius: 2px;

  img {
    margin: 10px;
  }

  span {
    font-size: 13px;
    color: $white;
    margin: 10px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.startButton {
  @include button-style($start-button-style...);
  margin-top: 0;
}

.stopButton {
  @include button-style($stop-button-style...);
  margin-top: 0;
}

//Style to hide arrows in input type number:

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none !important;
}
