@import "~normalize-scss/sass/normalize/_import-now.scss";

@font-face {
  font-family: Montserrat;
  src: url(./../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto-Regular.ttf);
}

$linkedin-color: #0084BF;
$dark-gray: #424242;
$light-gray: #EDEDED;
$border-gray: #A6A6A6;
$dark-red: #DD0D25;
$dark-green: #6F8109;
$light-green: #B6C850;

@mixin input-style($width: 30px) {
  width: $width;
  height: 24px;
  margin: 5px 3px 5px 15px;
  padding: 0 5px;
  text-align: center;
  font : {
    family: "Segoe UI";
    size: 14px;
  }
  color: $dark-gray;
  background-color: $light-gray;
  border: 1px solid $border-gray;
  border-radius: 5px;
  outline: none;
}

@mixin button-style {
  height: 50px;
  width: 160px;
  margin: 15px 0;
  font : {
    family: "Segoe UI";
    size: 20px;
  }
  color: #FFFFFF;
  background-color: $light-green;
  border: 1px solid $dark-green;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: $dark-green;
  }
}

.container {
  font : {
    family: "Segoe UI", Roboto, sans-serif;
    size: 16px;
    weight: normal;
  }

  display: flex;
  flex-flow: column nowrap;

  width: 300px;
  text-align: center;
  color: $dark-gray;

  h2 {
    font : {
      size: 22px;
      //weight: normal;
    }

    margin: 14px auto;
  }

  h3 {
    font : {
      size: 16px;
      weight: normal;
    }

    margin: 10px 0 0 0;
  }

  input {
    @include input-style();
  }

  .largeInput {
    @include input-style(160px);
  }

  button {
    @include button-style;
  }
}

.wrapper {
  display: flex;
  justify-content: center;

  span {
    padding: 7px 0;
  }
}

.settingsWrapper {
  display: flex;
  flex-direction: column;

  span {
    font : {
      size: 11px;
      style: italic;
    }
  }

  div {
    display: flex;
    margin: 5px 30px;
  }
}

#connectionsCount {
  font-size: 34px;
  color: $linkedin-color;
}

#invitesCount {
  color: $linkedin-color;
  font-weight: bold;
}