@import "~normalize-scss";
@font-face {
  font-family: Montserrat;
  src: url(./../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto-Regular.ttf);
}

$linkedin-color: #0084BF;

.container {
  font : {
    family: "Segoe UI", Roboto, sans-serif;
    size: 16px;
  }

  display: flex;
  flex-flow: column nowrap;

  width: 300px;
  text-align: center;

  #connectionsCount {
    font-size: 32px;
    color: $linkedin-color;
  }

}